nav {
    background-color: var(--color-maplestory-dark-gray);
}

nav > ul > a:hover > li {
    background-color: var(--color-maplestory-orange-hover);
}

nav > ul > a {
    user-select: none;
}

.active {
    background-color: var(--color-maplestory-orange-selected) !important;
}