section {
    height: calc(100vh - (var(--spacing) * 14));
    background-image: linear-gradient(#091244, #2B409D 60%, #d69aa4); 
}

canvas {
    animation-name: spin;
    animation-duration: 500000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

section {
    margin-top: var(--nav-height);
}

@keyframes spin {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg);
    }
}