section {
    height: calc(100vh - (var(--spacing) * 14));
}

#heroPage {
    background-image: linear-gradient(#091244, #2B409D 60%, #d69aa4);
}

#starCanvas {
    animation-name: spin;
    animation-duration: 200000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.star {
    display: visible;
    height: 1.5px;
    rotate: -10deg;
    background: linear-gradient(45deg, #b7c0d3, rgba(0, 0, 255, 0));
    filter: drop-shadow(0, 0, 6px #699bff);
    animation: tail 2s ease-in-out infinite, shooting 2s ease-out infinite;
    opacity: 0;
}

.hero-text {
    text-shadow: 0 0 6px white;
}

#aboutMeButton {
    overflow: hidden;
}

#aboutMeButtonSlider {
    background-color: var(--color-lightish-red);
    transform: rotate(10deg);
    left: -115%;
    transition: left 0.4s ease-out;
}

#aboutMeButton:hover #aboutMeButtonSlider {
    left: -5%;
}

@keyframes tail {
    0% {
        width: 0px;
        opacity: 0;
    }
    15% {
        width: 100px;
        opacity: 1;
    }
    50% {
        width: 100px;
        opacity: 1;
    }
    100% {
        width: 0;
        opacity: 0;
    }
}

@keyframes shooting {
    0% {
    }
    100% {
        transform: translateX(max(-1000px, -60vw));
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}