@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --nav-height: calc(var(--spacing) * 14);
  --color-light-red: #DA8A8B;
}

@theme inline {
  --font-menu: var(--font-rajdhani);
  --font-header: var(--font-orbitron);
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: rgb(230, 230, 230);
}