nav {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    background-color: rgb(29, 29, 29);
    border-bottom: 1px solid rgb(48, 48, 48);
    z-index: 2;
}

li:hover {
    color: var(--color-light-red);
    transition: 0.2s;
}