:root {
  --color-maplestory-background-gray: #F2F2F2;
  --color-maplestory-dark-gray: #333333;
  --color-maplestory-orange-hover: #FF8E2E;
  --color-maplestory-orange-selected: #c46d21;
  --color-maplestory-red-hover: rgb(235, 108, 103);
  --color-maplestory-red-selected: rgb(185, 33, 28);
  --color-maplestory-invalid-input: rgb(187, 73, 69);
  --color-maplestory-light-gray: #E2E2E2;
  --color-maplestory-light-gray-darker: #CECECE;
}

body {
    font-family: sans-serif;
}

.panel {
    border-radius: 0.5rem;
    background-color: white;
    padding: 1rem 2rem;
}

h1 {
    font-weight: 700;
    font-size: 1.5rem;
}

h2 {
    font-weight: 600;
    font-size: 1.3rem;
}

th, .th {
    background-color: var(--color-maplestory-dark-gray);
    color: white;
    padding: 0.25rem 0.5rem;
    border: 1px solid white;
    font-weight: 700;
    box-sizing: border-box;
}

td {
    padding: 0.25rem 0.5rem;
    border: 1px solid white;
    box-sizing: border-box;
}

tr {
    background-color: var(--color-maplestory-light-gray);
}

tr:nth-child(odd) {
    background-color: var(--color-maplestory-light-gray-darker);
}

td > a { /* Links in the table */
    color: #1f51db;
    text-decoration: underline;
}

table {
    text-align: left;
    white-space: nowrap;
    max-width: fit-content;
    border-collapse: separate;
    border-spacing: 0;
    box-sizing: border-box;
}

input {
    outline: none;
}

.invalid-input {
    background-color: var(--color-maplestory-invalid-input) !important;
    color: white;
}

thead > tr > th {
    position: sticky;
    top: 0;
}

.maple-input {
    border: 1px solid var(--color-maplestory-light-gray-darker);
    box-shadow: var(--shadow-sm);
    margin-left: calc(var(--spacing) * 2);
    margin-right: calc(var(--spacing) * 2);
    padding-left: calc(var(--spacing) * 2);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    min-height: calc(var(--spacing) * 6.5);
}

.maple-input-center {
    border: 1px solid var(--color-maplestory-light-gray-darker);
    box-shadow: var(--shadow-sm);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
}