.mode-info {
    left: 0;
}

.mode-crystal {
    left: 50%;
}

.boss-table > thead > tr > th {
    position: sticky;
    top: 0;
}

.arcane-table > tbody > tr, .grandis-table > tbody > tr {
    background-color: var(--color-maplestory-light-gray-darker);
}

.arcane-table > tbody:nth-child(odd) > tr {
    background-color: var(--color-maplestory-light-gray);
}

.grandis-table > tbody:nth-child(odd) > tr {
    background-color: var(--color-maplestory-light-gray);
}

.arcane-table > tbody > tr > td:not(:first-child), .grandis-table > tbody > tr > td:not(:first-child) {
    padding-right: 0.7rem;
}

.darken {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.up-triangle {
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.75rem solid var(--color-maplestory-dark-gray);
}